* {
  box-sizing: border-box;
  font-family: Manrope;
}
h1 {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}

$black: #000000;
$blue: #3461ff;

.btn {
  background-color: $blue;
  padding: 16px 24px;
  border-radius: 70px;
  color: #fff;
  border-color: transparent;
}
.container {
  width: 100%;
  padding: 0 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.header {
  margin-top: 30px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-menu {
    width: 40%;
    &--item {
      display: flex;
      justify-content: space-between;
      color: $black;
      a {
        color: black;
        font-weight: 500;
      }
    }
  }
}

.hero {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
  }
  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(51% - 72px);
  }
  &-title {
    font-size: 74px;
    font-weight: 700;
    line-height: 98px;
  }
  &-suptitle {
    font-size: 20px;
    font-weight: 400;
  }
  &-form {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    gap: 12px;
  }
  input[type="text"] {
    width: 339px;
    height: 62px;
    padding-left: 18px;
    border: 1px solid gray;
    border-radius: 37px;
  }
  &-btn {
    width: 146px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
  }
  &-right {
    display: flex;
    flex-wrap: wrap;
    width: 52%;
    position: relative;
  }
  &-last {
    position: absolute;
    right: 235px;
    top: -83px;
  }
}

.companies {
  background-color: #f5f7f6;
  margin-top: 110px;
  height: 552px;
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-title {
    margin-top: 78px;
    font-size: 26px;
    font-weight: 500;
  }
  &-image {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 90px 125px;
  }
}

.commitments {
  margin-top: 138px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 49px 120px;
    h3 {
      font-size: 64px;
      width: 600px;
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  &-data {
    width: 30%;
  }
  &-right {
    width: calc(50% - 65px);
    h2 {
      font-size: 64px;
      font-weight: 500;
      margin: 0;
    }
    p {
      font-size: 18px;
      line-height: 32px;
    }
    a {
      color: #3461ff;
    }
    img {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}

.works {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 237px;
  }
  &-left {
    width: calc(50% - 110px);
    h2 {
      margin: 0;
      font-size: 64px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
    }
  }
  &-image {
    margin-top: 82px;
  }
  &-right {
    width: calc(60% - 80px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  &-info {
    display: flex;
    justify-content: space-between;
  }
  &-txt {
    margin-left: 32px;
    h3 {
      margin: 0;
      font-size: 32px;
      font-weight: 500;
    }
    p {
      margin: 0;
      font-weight: 500;
      line-height: 32px;
    }
  }
  &-icon {
    margin-top: 10px;
  }
}

.work {
  margin-top: 244px;
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    h2 {
      font-size: 64px;
      margin: 0;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &-image {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 52px;
    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 28px;
        font-weight: 500;
      }
    }
  }
  &-btn {
    margin-top: 52px;
  }
}

.brand {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 371px;
    background-color: #3561ff;
    border-radius: 32px;
    margin-top: 222px;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    &--left {
      width: 100%;
      h3 {
        font-size: 64px;
        color: #fff;
        font-weight: 500;
        margin: 0;
      }
    }
    &--right {
      p {
        font-size: 20px;
        line-height: 40px;
        color: #fff;
      }
    }
  }
  &-btn {
    font-size: 24px;
    font-weight: 500;
    background-color: white;
    padding: 5px 35px;
    border-radius: 70px;
    color: black;
    border-color: transparent;
  }
}

.team {
  &-wrapper {
    margin-top: 102px;
    height: 626px;
    display: flex;
    justify-content: space-between;
  }
  &-left {
    width: 50%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-left: 102px;
    &--title {
      h2 {
        font-size: 64px;
        margin: 0;
      }
    }
    &--suptitle {
      p {
        line-height: 32px;
      }
    }
  }
  &-btn {
    margin-top: 150px;
  }
}

.about {
  height: 666px;
  color: #fff;
  &-wrapper {
    h2 {
      font-size: 55px;
      display: inline;
      color: black;
    }
  }
  &-arrow {
    margin-left: 207px;
  }
  &-recall {
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    margin-top: 68px;
    background-color: #3461ff;
    width: 513px;
    height: 313px;
    border-radius: 30px;
    &--info {
      padding: 30px 35px;
    }
    &--ava {
      display: flex;
    }
    &-txt {
      span {
        display: block;
        margin-top: 20px;
        line-height: 32px;
      }
    }
  }
  &-name {
    margin-left: 20px;
    h3 {
      font-size: 28px;
      font-weight: 600;
      margin: 0;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }
  }
}

.footer {
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &-media {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  &-link {
    li {
      display: block;
    }
  }
}
